/* ----------------------------------------------- */
/* Global */
/* ----------------------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #444;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ----------------------------------------------- */
/* Components */
/* ----------------------------------------------- */
.row{
    max-width: 1140px;
    margin: 0 auto;
}
section {
    padding: 80px 0;
}
h1,h2, h3, i{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}
p{
    text-align: justify;
}
h1{
    color: #fff;
    font-weight: 300;
    font-size: 220%;
    letter-spacing: 1px;
    word-spacing: 4px;
}
h2{
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 180%;
    word-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 30px;
}
h2 span, h3 span{
    display: inline-block;
    position: relative;
    padding-bottom: 15px;
}
h2 span:after, h3 span:after{
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 1px; 
    border-bottom: 2px solid #e67e22;
    left: 50%; 
    transform: translate(-50%, 0);
    content: "";
}
h3{
    display: block;
    height: 25px;
    margin: 5px 0;
    font-size: 100%;
}
@media only screen and (max-width: 1082px) {
    h1{
        font-size: 180%;
    }
}
@media only screen and (max-width: 639px) {
    h1{
        font-size: 140%;
    }
}
/* ----------------------------------------------- */
/* Nav */
/* ----------------------------------------------- */
.logo {
    float:left;
    margin: 30px 20px;
}
.mobile-icon{
    float: right;
    margin: 60px 30px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.mobile-icon i {
    font-size: 200%;
    color: #fff;
}
nav{
    display: block;
    float: right;
    list-style: none;
    margin: 70px 20px;
}
nav li{
    display: inline-block;
    border-radius: 100px;
    padding: 10px 10px;
    transition: background-color 0.3s;
}
nav li:hover,
nav li:active{
    background-color: #e67e22; 
}
nav a{
    text-decoration: none;
    color: #fff;
}
@media only screen and (max-width: 1082px) {
    .row .logo{
        padding: 0 30px 30px 0;
    }
}
@media only screen and (max-width: 700px){
    nav {
        display: none;
    }
    .mobile-icon {
        display: inline-block;
    }
}
@media only screen and (max-width: 639px) {
    .row .logo{
        padding: 0 50px 50px 0;
    }
}
/* ----------------------------------------------- */
/* Cover */
/* ----------------------------------------------- */
header{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(../img/cover.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow: 0px 1px 7px 0px #222;
}
.text-cover {
    position: absolute;
    width: 90%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -45%);
}
.text-cover h1{
    line-height: 125%;
    margin-bottom: 20px;
}

.buttons{
    position: relative;
    display: flex;
    justify-content: center;
}
.btn,
.btn:link,
.btn:visited{
    margin: 20px 10px;
    display: inline-block;
    padding: 10px 20px;
    border: solid white 1px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, box-shadow 0.3s, box-shadow 0.3s;
}
.btn-full,
.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border-color: #e67e22;
    color: #fff;
    text-shadow: 0 0 10px red;
    box-shadow: 0px 0px 10px 0px #e67e22;
}
.btn-ghost,
.btn-ghost:link,
.btn-ghost:visited{
    box-shadow: 0px 0px 5px 0px #f7f7f7;
}
.btn-full:hover{
    border-color: #d44e01;
    background-color: #d44e01;
    text-shadow: 0 0 0px #210a03;
    box-shadow: 0px 0px 0px 0px #e67e22;
}
.btn-ghost:hover{
    border-color: #e67e22;
    background-color: #e67e22;
    box-shadow: 0px 0px 0px 0px #f7f7f7;
}
em{
    color: #e67e22;
}
@media only screen and (max-width: 628px) {
    .buttons{
        font-size: 85%;
    }
}
@media only screen and (max-width: 442px) {
    .buttons{
        font-size: 70%;
    }
}
@media only screen and (max-width: 358px) {
    .btn,
    .btn:link,
    .btn:visited{
        margin: 10px 5px;
        padding: 5px 7px;
    }
}
/* ----------------------------------------------- */
/* Features */
/* ----------------------------------------------- */
.feature-header{
    margin: 30px 0 10px 0;
    text-align: center;
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.icon-big{
    font-size: 250%;
    display: block;
    color: #e67e22;
    margin-bottom: 15px;
}
#features .row{
    padding: 0 15px;
}
.box{
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.box p{
    margin-top: 40px;
    font-size: 90%;
    line-height: 150%;
}
#features .col {
    margin-top: 4%;
    margin-bottom: 4%;
}
@media only screen and (max-width: 1017px){
    #features .col { 
        width: 45%;
        margin: 2% 2% 2% 2%;
    }
}
@media only screen and (max-width: 700px){
    .feature-header{
        width: 100%;
        margin-left: 0;
        text-align: justify;
        font-size: 90%;
    }
    #features .row{
        margin-left: 20px; 
        margin-right: 20px;
    }
    #features h2{
        font-size: 150%;
    }
    #features .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    #features .col i, .col h3{
        text-align: left;
    }
    #features .col p{
        font-size: 80%;
    }  
}
/* ----------------------------------------------- */
/* Steps  */
/* ----------------------------------------------- */
#steps{
    background-color: #efefef;
    padding: 70px 40px;
}
.steps-box{
    margin-top: 20px;
    margin-bottom: 20px;
}
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 60px;
}
.app-screen{
     height:500px;
     width:auto;
}
.step{
    margin-top: 10px;
}
.step div{
    display: inline-block;
    color: #e67e22;
    font-size: 150%;
    height: 54px;
    width: 54px;
    float: left;
    border-radius: 50%;
    border: 2px solid #e67e22;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 20px 20px 10px 0;
}
.step p{
    padding-top: 10px;
}
.store{
    display: block;
    text-align: left;
    margin-top: 35px;
}
.store a{
    background: #e67e22;
    border: 1px solid #fff;
    font-size: 90%;
    text-align: center;
    padding: 10px 10px;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    line-height: 55px;
    box-shadow: 0 0 7px red;
    text-shadow: 0 0 9px red;
    transition: border-color 0.3s, background 0.3s, box-shadow 0.2s, text-shadow 0.2s;
}
.store a:last-child{
    margin-right: 20px;
}
.store i{
    font-size: 140%;
    margin-right: 5px;
}
.store a:hover,
.store a:active {
    border-color: #d44e01;
    background: #d44e01;
    box-shadow: 0 0 0 red;
    text-shadow: 0 0 0 red;
}
@media only screen and (max-width: 700px){
    .col{
        width: 100%;
    }
    .steps-box:first-child {
        text-align: center;
    }
}
/* ----------------------------------------------- */
/* Testimonials */
/* ----------------------------------------------- */
#testimonial{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    padding-left: 20px;
    padding-right: 20px;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    text-align: justify;
}
cite {
    font-size: 90%;
    margin-top: 25px;
    display: flex;
    /*float: right;*/
    flex-direction: row-reverse;
    align-items: center;
    color: #ccc;
}
cite img {
    height: 56px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
@media only screen and (max-width: 700px){
    #testimonial .col{
        width: 100%;
    }
}
/* ----------------------------------------------- */
/* Footer */
/* ----------------------------------------------- */
footer {
    background-color: #444;
}
.footer-container{
    font-size: 80%;
    padding: 50px;
}
.footer-nav {
    list-style: none;
    float: left;
}
.social-links {
    list-style: none;
    float: right;
}
footer li {
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #aaa;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #fff;
}
.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}
.fab {
    transition: color 0.2s;
}
.fa-facebook:hover {
    color: #3b5998;
}
.fa-twitter:hover {
    color: #00aced;
}
.fa-google-plus:hover {
    color: #dd4b39;
}
.fa-instagram:hover {
    color: #517fa4;
}
.copyright .col{
    background-color: #222;
    padding: 30px;
    text-align: center;
    font-size: 80%;
    color: #ccc;
    margin: 0;
}
.copyright .row{
    min-width: 100%;
}